@font-face {
    font-family: SpaceMono-Bold;
    src: '../../assets/fonts/space-mono/SpaceMono-Bold.ttf';
}

/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
/* Style the links inside the navigation bar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: SpaceMono-Bold;
    font-size: 17px;
}